name: Frontend CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Install dependencies and build
      run: |
        cd react-task-manager
        npm ci
        npm run build

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: eu-north-1
        role-to-assume: ${{ secrets.AWS_IAM_ROLE }}

    - name: Sync build to S3
      run: aws s3 sync react-task-manager/build s3://task-manager-app254 --delete
